apiVersion: v1
kind: Service
metadata:
  name: {{ include "ecs-oracle.fullname" . }}
  labels:
    {{- include "ecs-oracle.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      {{- if .Values.service.hostPort }}
      hostPort: {{ .Values.service.hostPort }}
      {{- end }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "ecs-oracle.selectorLabels" . | nindent 4 }}
