# API Server values
image:
  repository: ghcr.io/firecrawl/firecrawl
  pullPolicy: IfNotPresent
  # tag defaults to Chart.AppVersion

resources: {}
  # limits:
  #   cpu: 1000m
  #   memory: 2Gi
  # requests:
  #   cpu: 500m
  #   memory: 1Gi

env: []
  # - name: HOST
  #   value: "0.0.0.0"
  # - name: PORT
  #   value: "3002"

