apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "ixo-matrix-supamoto-bot.fullname" . }}-config
  labels:
    {{- include "ixo-matrix-supamoto-bot.labels" . | nindent 4 }}
data:
  production.yaml: |-
    # -------------------------------------------------------------------------------------------------
    # MATRIX CONFIG
    # -------------------------------------------------------------------------------------------------
    # Where the homeserver's Client-Server API is located. Typically this
    # is where clients would be connecting to in order to send messages.
    homeserverUrl: 'https://mx.ixo.earth'

    # An access token for the bot to use. Learn how to get an access token
    # at https://t2bot.io/docs/access_tokens
    accessToken: '<path:ixo_core/data/matrix#MATRIX_SUPAMOTO_BOT_ACCESS_TOKEN>'

    # The id of the only room the bot must join - all other invites will be
    # ignored.
    roomId: '!XUXqEEmIhStjNZsjUq:mx.ixo.earth'

    # The URL of the claims bot to use for claim fetching
    claimsBotUrl: 'https://claim.bot.mx.ixo.earth'

    # The did-related access token to use for the claims bot
    claimsBotAccessToken: '<path:ixo_core/data/matrix#MATRIX_SUPAMOTO_BOT_CLAIMS_BOT_ACCESS_TOKEN>'

    # -------------------------------------------------------------------------------------------------
    # CHAIN CONFIG
    # -------------------------------------------------------------------------------------------------
    # The DID of the entity that owns the claim collections
    entityDid: 'did:ixo:entity:5763555c83aa9ad82c48aa06fbac551f'

    # The RPC URL of the chain to query for the claim collection details etc
    rpcUrl: 'https://impacthub.ixo.world/rpc/'

    # -------------------------------------------------------------------------------------------------
    # BOT CONFIG
    # -------------------------------------------------------------------------------------------------
    # Whether or not to autojoin rooms when invited.
    autoJoin: true

    # Location on disk for where to store various bot information.
    dataPath: 'storage'

    # Set to false to disable encryption support. Encrypted data will be
    # stored under dataPath.
    encryption: true

    # -------------------------------------------------------------------------------------------------
    # DATABASE CONFIG
    # -------------------------------------------------------------------------------------------------
    # The encryption key for securing sensitive data
    encryptionKey: '<path:ixo_core/data/matrix#MATRIX_SUPAMOTO_BOT_ENCRYPTION_KEY>'

    # The URL of the database to store the claims and evaluations
    databaseUrl: '<path:ixo_core/data/matrix#MATRIX_SUPAMOTO_BOT_DATABASE_URL>'

    # Whether to use SSL for the database connection
    databaseUseSsl: true

    # Whether to migrate the database programmatically
    migrateDbProgrammatically: true

    # -------------------------------------------------------------------------------------------------
    # REST API CONFIG
    # -------------------------------------------------------------------------------------------------
    restApi:
      # Set to true to enable the REST API
      enabled: true
      # Port to listen on for the REST API, default is 8080
      port: 8084
      # express trust proxy config for if you are using a reverse proxy
      trustProxy: 1

