apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ixo-matrix-appservice-rooms.fullname" . }}
  labels:
    {{- include "ixo-matrix-appservice-rooms.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "ixo-matrix-appservice-rooms.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "ixo-matrix-appservice-rooms.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "ixo-matrix-appservice-rooms.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: gcp-backups
          image: google/cloud-sdk:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /bot/gcp-key/key.json
          command:
            - "/bin/sh"
            - "-c"
            - |
              apt-get update && apt-get install -y zip
              gcloud auth login --cred-file=$GOOGLE_APPLICATION_CREDENTIALS
              while true; do
                cd {{ .Values.persistentVolume.mountPath }} && zip -r data.zip .
                gsutil cp -r {{ .Values.persistentVolume.mountPath }}/data.zip {{ .Values.backup.gcs.bucket }}/$(date +'%Y-%m-%d_%H-%M-%S')/
                rm -f {{ .Values.persistentVolume.mountPath }}/data.zip
                sleep 86400 # 24 hours
              done
          volumeMounts:
            - name: gcp-service-account-key
              mountPath: /bot/gcp-key
            - name: storage
              mountPath: {{ .Values.persistentVolume.mountPath }}
              {{- if .Values.persistentVolume.subPath }}
              subPath: {{ .Values.persistentVolume.subPath }}
              {{- end }}
          resources:
            {{- toYaml .Values.backup.resources | nindent 12 }}
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 9000
              protocol: TCP
            - name: rest
              containerPort: 8081
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: rest
          readinessProbe:
            httpGet:
              path: /
              port: rest
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: storage
              mountPath: {{ .Values.persistentVolume.mountPath }}
              {{- if .Values.persistentVolume.subPath }}
              subPath: {{ .Values.persistentVolume.subPath }}
              {{- end }}
            - name: config
              mountPath: /bot/config
              readOnly: true
            - name: registration
              mountPath: /bot/registration
              readOnly: true
      volumes:
        - name: gcp-service-account-key
          secret:
            secretName: gcp-key-secret
        - name: storage
          persistentVolumeClaim:
            {{- if .Values.persistentVolume.useExisting }}
            claimName: {{ .Values.persistentVolume.existingClaimName }}
            {{- else }}
            claimName: {{ .Release.Name }}-storage
            {{- end }}
        - name: config
          configMap:
            name: {{ include "ixo-matrix-appservice-rooms.fullname" . }}-config
        - name: registration
          configMap:
            name: {{ include "ixo-matrix-appservice-rooms.fullname" . }}-registration
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
